---
 const personalImageAlt = "Fernando Valerio"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    I am a <strong>Frontend Developer</strong> and <strong>UI/UX Designer</strong> with 3 years of experience
    creating dynamic and user-friendly websites and web applications. Proficient in
    <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, and various frontend frameworks including 
    <strong>React</strong> and <strong>Angular</strong>.
  </p>
  
  <p>
    Experienced in collaborating with cross-functional teams to develop and
    implement design solutions that meet client requirements and achieve business
    goals. Dedicated to continuous learning and keeping up to date with the latest
    <strong>web development trends</strong> and <strong>technologies</strong>.
  </p>
  
  <p>
    I have a strong background in <strong>UI/UX design</strong>, which allows me to create complete
    and effective design solutions. I have honed my skills in creating <strong>dynamic</strong> and
    <strong>user-friendly websites</strong> and <strong>web applications</strong>.
  </p>
  
  <p>
    In addition, I have a growing interest in <strong>DevOps practices</strong> and I'm
    actively learning how to integrate <strong>DevOps principles</strong> into my workflow to
    streamline <strong>development</strong> and <strong>deployment processes</strong>.
  </p>
  
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
